.content header {
  display: flex;
  align-items: center;
}

.content header > :not(:last-child) {
  margin-right: 75px;
}

.content footer {
  display: flex;
  align-items: center;
}

.content footer > :not(:last-child) {
  margin-right: 1rem;
}

.stars {
  display: flex;
  align-items: center;
}

.stars > :not(:last-child) {
  margin-right: 4px;
}

.wifi {
  display: flex;
  align-items: center;
}

.wifi > :not(:last-child) {
  margin-right: 14px;
}

/* roomsCont */
.roomsCont header {
  background-color: #dcdcdc;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.roomsCont header > div {
  display: flex;
  align-items: center;
}
.roomsCont header > div > :not(:last-child) {
  margin-right: 18px;
}

.roomsCont > main {
  display: grid;
  gap: 32px;
}

@media (max-width: 760px) {
  .content header > :not(:last-child) {
    margin-right: 1.5rem;
  }
}
@media (max-width: 550px) {
  .content header {
    flex-direction: column;
    align-items: unset;
  }
  .content header > :not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .content header > :nth-child(2) {
    order: -1;
  }
}
