.details header {
  display: flex;
  position: relative;
}

.headerLeft {
  flex: 1;
  margin-right: 80px;
}
.headerRight {
  flex: 1;
}

.headerRight > img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.details main {
  border-top: 2px solid #dddddd;
  padding-top: 2rem;
  display: flex;
}

.tabButton {
  display: flex;
  align-items: center;
  padding: 32px 10px;
  border-bottom: 2px solid #dddddd;
  width: 100%;
}

.tabButton > :not(:last-child) {
  margin-right: 1rem;
}

.tabButtonIcon {
  width: 50px;
  display: flex;
  justify-content: center;
}

.tabsWrapper {
  flex: 1;
  max-width: 417px;
  margin-right: 50px;
  position: relative;
}

.marker {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #e2f3fe;
  transition: all 0.3s ease;
  z-index: -1;
  height: 0px;
}

.tabBody {
  flex: 1;
}

.tabButton svg {
  fill: var(--text-blue) !important;
}
.tabButton_active svg {
  fill: var(--btn-blue) !important;
}

@media (max-width: 1000px) {
  .tabsWrapper {
    min-width: 300px;
  }

  .tabButton {
    padding: 20px 10px;
  }

  .tabButton svg {
    fill: var(--text-blue) !important;
    width: 26px !important;
    height: 26px !important;
  }

  .tabButton > :not(:last-child) {
    margin-right: 1rem;
  }

  .tabButtonIcon {
    width: 30px;
  }
}

@media (max-width: 760px) {
  .details main {
    flex-direction: column;
  }

  .tabsWrapper {
    min-width: 100%;
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .tabButton {
    padding: 16px 10px;
  }

  .details header {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
  }

  .headerLeft {
    flex: 1;
    margin-right: 0px;
    margin-top: 1.5rem;
  }
}
