.heroWrapper {
  position: relative;
  z-index: 5;
}

.heroWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(../../../assets/images/hero-img.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}
.heroWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-color: rgba(0, 0, 0, 0.3);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.upperSection {
  display: flex;
  align-items: center;
}

.upperSection > :not(:last-child) {
  margin-right: 90px;
}

.left {
  max-width: 450px;
}

.right {
  flex: 1;
}

.cards {
  display: flex;
  align-items: center;
}

.cards > :not(:last-child) {
  margin-right: 26px;
}

.cards > :nth-child(2) {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .left {
    max-width: 350px;
  }
  .cards > :not(:last-child) {
    margin-right: 18px;
  }
}

@media (max-width: 1000px) {
  .upperSection {
    display: flex;
    align-items: unset;
    flex-direction: column;
  }

  .upperSection > :not(:last-child) {
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .left {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .cards > :not(:last-child) {
    margin-right: 3vw;
  }
}
