.tabs_container {
  display: flex;
  border-bottom: 2px solid #dddddd;
  position: relative;
}

.tabButton {
  padding: 26px 3rem;
}

.marker {
  height: 4px;
  background-color: #70cbf4;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: all 0.2s ease;
  width: 0px;
}
