.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* .pill.isOffer .pillBg {
  background-color: orange !important;
  filter: none;
  opacity: 1;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
} */

@media (max-width: 650px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
