.bulletWrapper {
  display: flex;
}

.bullet {
  content: "";
  min-width: 14px;
  min-height: 14px;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .bullet {
    content: "";
    min-width: 8px;
    min-height: 8px;
  }
}
