.hotelCard {
  padding: 36px 50px;
  position: relative;
  z-index: 4;
  max-width: 380px;
  width: 100%;
}

.dividerLine {
  border: 1px solid white;
}

.rating {
  display: flex;
  align-items: center;
}

.rating > :not(:last-child) {
  margin-right: 16px;
}

.stars {
  display: flex;
  align-items: center;
}

.stars > :not(:last-child) {
  margin-right: 4px;
}

.flightDetails {
  display: flex;
  align-items: center;
  text-align: left;
}

.flightDetails > :not(:last-child) {
  margin-right: 14px;
}

@media (max-width: 1000px) {
  .hotelCard {
    padding: 30px 40px;
    max-width: 300px;
  }
}
@media (max-width: 500px) {
  .hotelCard {
    padding: 24px 28px;
    max-width: 300px;
  }
}
