.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons_wrapper {
  display: flex;
  align-items: center;
}

.icons_wrapper > :not(:last-child) {
  margin-right: 40px;
}

.socialIcons {
  display: flex;
  align-items: center;
}

.socialIcons > :not(:last-child) {
  margin-right: 16px;
}

.links_wrpaper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #1f3d6d2d;
  border-bottom: 2px solid #1f3d6d2d;
  padding: 36px 0;
}

.footerBottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footerBottom > .box {
  /* border: 2px solid red; */
}

/* .footerBottom > .box:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.footerBottom > .box.form {
  display: flex;
  align-items: center;
}
.footerBottom > .box.form > :not(:last-child) {
  margin-right: 20px;
}

.footerBottom > .box.form p {
  flex: 1;
}

.footerBottom > .box.form input {
  flex: 1;
  width: 100%;
  display: block;
  border: 1px solid #ffffff;
  padding: 18px 28px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.062);
}

.footerBottom > .box.form input::placeholder {
  color: rgba(255, 255, 255, 0.692);
}

.footer_Footer {
  background-color: #0a7cb3;
  padding: 32px 0;
}

@media (max-width: 1000px) {
  .footerBottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }
  .form {
    flex-direction: column;
    text-align: left;
    align-items: unset;
    grid-column: 1/-1;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .footerBottom > .box.form > :not(:last-child) {
    margin-bottom: 10px;
    width: 100%;
    padding-left: 0rem;
    margin-right: 0;
  }

  .form input {
    text-align: center;
  }

  .footerBottom > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .links_wrpaper {
    flex-wrap: wrap;
    justify-content: center;
    margin: -1rem !important;
    margin-top: 0 !important;
    padding: 16px 0;
  }

  .links_wrpaper > a {
    margin: 1rem;
  }
}

@media (max-width: 700px) {
  .footer_top {
    flex-direction: column;
    align-items: center;
  }

  .footer_top > :not(:last-child) {
    margin-bottom: 2rem;
  }

  .icons_wrapper > p {
    display: none;
  }

  .footerLogo {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .footerBottom {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
